[submodule "catchnhole"]
	path = catchnhole
	url = https://github.com/mmalecki/catchnhole
[submodule "v-slot"]
	path = v-slot
	url = https://github.com/mmalecki/openscad-v-slot
[submodule "gears"]
	path = gears
	url = https://github.com/chrisspen/gears.git
[submodule "nopscadlib"]
	path = nopscadlib
	url = https://github.com/nophead/NopSCADlib.git
